
p{
  /*color: orange;*/
}
@media only screen and (min-width: 550px){
  p{
    /*font-weight: bolder;*/
  }
  .ui-grid-a .ui-block-a { 
    width: 30%; 
  }
  .ui-grid-a .ui-block-b { 
    width: 70%; 
  }
}

#popupContent{
  padding:10px 20px;
  overflow: auto;
}

#popupContent img{
  float: left;
}

#popupContent h4{
  float: left;
  padding-left: 10px;
}

#personalInfo h4{
  float: left;
  padding: 50px 20px 0px 0px;
}
#personalInfo img{
  float: left;
}